

.refugee-small-multiples {
  //position: relative;
}


svg[class^="line-chart"] {
  path[class^="line-chart__area"] {
    fill: lighten($teas-blue, 0);
  }

  path[class^="line-chart__line"] {
    stroke: darken($teas-blue, 20);
  }

  text[class^="line-chart__caption"] {
    fill: darken($teas-gray, 20);
  }
}

.refugee-small-multiples__item-title {
  text-align: center;
}

.refugee-small-multiples__item {
  text-align: center;
  margin-bottom: 1.0rem;
}


