
.refugee-time-range-indicator {
  font-weight: bold;
  position: absolute;
  right: 1em;
  top: 1.3rem;
  z-index: 3;
  font-size: 16px;

  // Make the indicator not overlap with tabs
  @media screen and (max-width: 620px) {
    top: 2.8rem;
  }

  @media screen and (max-width: 364px) {
    top: 1.3rem;
  }

  @media screen and (max-width: 340px) {
    top: 4.2rem;
  }
}
