

.refugee-map {
	position: relative;
	svg, canvas {
		position: absolute;
		top: 0px;
	}
}

.refugee-map {
  //background-color: rgba(240,240,240, 1.0);
  background-color: rgba(122, 136, 135, 0.15);
  //background-color: rgba(186, 224, 235, 0.15);

  color: #cccccc;
  font-weight: 200;
  letter-spacing: 0.1px;
  overflow: hidden;
}

.refugee-map__loading {
	font-family: $lucify-header-font;
	padding: 2rem;
	font-size: 24px;
}


.refugee-map__overlay-layer {
	background-color: transparent;
	position: absolute;
	top: 0px;
}




