
.refugee-map-segment {

	.inputs .nice-form-row {
		margin-top: 8px;
	}


}

.refugee-map-segment__tabs {
    .tabs-navigation {
      padding-left: 1.0rem;
      padding-top: 0.5rem;
      padding-bottom: 0.5rem;
    }
    .tabs-menu {
      cursor: pointer;
    }
}
