
.refugee-map-time__chart {


}

.refugee-map-time__missing-data {
  position: absolute;
  left: 1em;
  top: 1.0em;
  z-index: 3;
  font-size: 14px;
  padding-right: 4em; // don't go on top of the time chart at small screen sizes
}


.missing-data-real {
  margin-left: 0.5rem;
  font-size: 0.8rem;
  font-style: italic;
  color: rgba(150,150,150, 1.0);

  @media screen and (max-width: 600px) {
    display: none;
  }
}
