
.refugee-map-borders-layer {

  .subunit {
    fill: transparent;
    stroke: rgba(darken($color: $teas-light-blue, $amount: 5), 0.7);
    transition: fill 0.5s ease-in-out;
  }

  .subunit--overlay {
    stroke-width: 3px;
    opacity: 0;
    fill: transparent;
    transition: opacity 0.2s ease-in-out;
  }

  .subunit--destination {

  }

  .subunit--origin {
    display: none;
  }

  .subunit--hovered {
    opacity: 0.5;
    stroke: $teas-blue;
  }

  .subunit--clicked {
    opacity: 0.5;
    stroke: $teas-orange;
  }

  .subunit-invisible {
    fill: transparent;
  }

  .subunit--missing-data {
    opacity: 0.12;
  }

}
