
.refugee-map-country-labels-layer {

	text {
	  fill: $teas-gray;
	  opacity: 1.0;
	  font-family: $lucify-header-font;
	  text-anchor: middle;
	  font-size: 12px;
	}

	.highlighted {

	}

	.destination {
		fill: $teas-gray;
	}

	.origin {
  	fill: $teas-gray;
  	//fill: rgba(190, 88, 179, 1.0);
		//fill: rgba(255, 255, 255, 0.8);
	}
}
