
@import "../../node_modules/lucify-commons/src/scss/styles-full.scss";
@import "variables.scss";

// main colors
$teas-blue: rgb(0, 111, 185);
$teas-light-blue: rgb(10, 187, 239);
$teas-gray: rgb(122, 136, 144);
$teas-black: rgb(0, 0, 0);

// extra colors
$teas-turqoise: rgb(130, 196, 217);
$teas-light-turqoise: rgb(186, 223, 235);
$teas-yellow: rgb(247, 173, 41);
$teas-orange: rgb(251, 112, 29);


@import "refugee-main-content.scss";
@import "refugee-map.scss";
@import "refugee-map-segment.scss";
@import "refugee-map-borders-layer.scss";
@import "refugee-map-country-counts-layer.scss";
@import "refugee-map-country-labels-layer.scss";
@import "refugee-map-count-bars-layer.scss";
@import "refugee-map-controls-and-legend.scss";
@import "refugee-map-time-layer.scss";
@import "refugee-map-line-chart.scss";
@import "refugee-sankey.scss";
@import "refugee-sankey-segment.scss";
@import "refugee-soccer-segment.scss";
@import "refugee-data-updated.scss";
@import "refugee-time-range-indicator.scss";
@import "refugee-bar-charts.scss";
