
@import "../../node_modules/lucify-commons/src/scss/styles-full.scss";

@import "colors.scss";

@import "refugee-main-content.scss";
@import "refugee-map.scss";
@import "refugee-map-segment.scss";
@import "refugee-map-borders-layer.scss";
@import "refugee-map-country-counts-layer.scss";
@import "refugee-map-country-labels-layer.scss";
@import "refugee-map-count-bars-layer.scss";
@import "refugee-map-time-layer.scss";
@import "refugee-map-time-bar-chart.scss";
@import "refugee-data-updated.scss";
@import "refugee-time-range-indicator.scss";
@import "refugee-bar-charts.scss";
@import "refugee-small-multiples.scss";
@import "refugee-multiples-segment.scss";

.tabs-menu {

  .is-active a {
    color: $teas-orange;
  }

  .tabs-menu-item:not(.is-active) a:hover{
    color: $teas-yellow;
    text-decoration: none;
  }

}

.colors-legend {
  position: relative;
  top: 1.0rem;
  left: 1.0rem;

  svg {
    position: static;
    top: auto;
  }

  text {
    font-weight: normal;
  }
}

.colors-legend__inner {
  border: 1px solid rgba($teas-turqoise, 0.8);
  display: inline-block;
  padding: 1.0rem;
  background-color: rgba(255,255,255, 0.96);
}

.colors-legend__title {
  margin-bottom: 10px;
  color: $lucify-gray-text-color;
}

.inputs {
  padding-top: 3.0rem;
  padding-bottom: 3.0rem;
}


span.missing-data-real {
  margin-left: 0.5rem;
  font-size: 0.8rem;
  font-style: italic;
  color: rgba(150,150,150, 1.0);

  @media screen and (max-width: 600px) {
    display: none;
  }
}
