
//////////////
// TEAK //////
//////////////

// Main

$teak-blue: #006FB9;
$teak-light-blue: #0ABBEF;
$teak-gray: #7A8890;
$teak-black: #000000;

// Extra

$teak-turquoise: #82C4D9;
$teak-light-turquoise: #BAE0FF;
$teak-yellow: #F7AD29;
$teak-orange: #FB701D;